.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    top: 0;
    left: 0;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.displayText {
    color: #ffffff;
    font-family: "Segoe UI";
    font-size: 2vw;
}

body {
    background-color: transparent;
}

.textDisplayArea {
    padding: 2%;
}

* {
    cursor: none;
}